---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/page-heading.astro";
---

<Layout>
  <PageHeading>
    <th:block slot="title">友情链接</th:block>
  </PageHeading>
  <div class="post-page">
    <div class="post animated fadeInDown">
      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        <a th:each="link : ${links}" th:href="${link.spec.url}" target="_blank">
          <div
            class="relative rounded border border-gray-300 bg-white px-5 py-4 shadow-sm hover:shadow flex items-center space-x-3 hover:border-gray-400"
          >
            <div
              th:unless="${#strings.isEmpty(link.spec.logo)}"
              class="flex-shrink-0"
            >
              <img
                class="h-12 w-12 rounded-full"
                th:src="${link.spec.logo}"
                th:alt="${link.spec.displayName}"
              />
            </div>
            <div class="flex-1 min-w-0">
              <div>
                <p
                  th:text="${link.spec.displayName}"
                  class="text-sm font-medium text-gray-900 truncate"
                >
                </p>
                <p
                  th:text="${link.spec.description}"
                  class="text-sm text-gray-500 truncate"
                >
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</Layout>
