<div
  th:each="post : ${postFinder.list(1, 10)}"
  class="post animated fadeInDown"
>
  <div class="post-title">
    <h3 class="font-medium">
      <a th:href="${post.permalink}" th:text="${post.title}"></a>
    </h3>
  </div>
  <div class="post-content text-black/50 text-sm">
    <p class="py-2.5" th:text="${post.excerpt}"></p>
  </div>
  <div class="post-info pb-[30px] border-b border-b-[#f2f2f2]">
    <div class="meta">
      <div class="info">
        <i class="iconify w-3 h-3" data-icon="mdi:calendar-month-outline"></i>
        <span th:text="${post.publishTime}"></span>
        <i class="iconify w-3 h-3" data-icon="mdi:eye"></i>
        <span>0</span>
        <i class="iconify w-3 h-3" data-icon="mdi:comment-outline"></i>
        <a th:href="${post.permalink}">0</a>
        <div class="inline-block hover:text-red-700 cursor-pointer">
          <i class="iconify w-3 h-3" data-icon="mdi:heart"></i>
          <i class="iconify w-3 h-3" data-icon="mdi:heart-outline"></i>
          <span data-post-id-likes="">0</span>
        </div>
      </div>
    </div>
  </div>
</div>
